$FontSize: ("small": 18px,
  "normal": 26px,
  "large": 32px);
$pixcel: ("5": 5px,
  "40": 40px,
  "80": 80px,
  "100":100px,
  "300": 300px,
  "310": 310px,
  "100%": 100%);
$light: white;

.containter {
  margin: auto;
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  top: 0;
  background-color: rgb(165, 158, 158);
}

.game {
  height: map-get($pixcel, "100%");
  width: map-get($pixcel, "100%");
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  &-message {
    color: white;
    height: map-get($pixcel, "80");
    margin-bottom: map-get($pixcel, "40");

    .direction {
      &-position {
        display: flex;
        flex-direction: column;
      }

      &-turn {
        align-self: center;
        font-size: map-get($FontSize, "large");
      }

      &-message {
        align-self: center;
        font-size: map-get($FontSize, "normal");
      }
    }

    .message {
      align-self: center;
      font-size: map-get($FontSize, "normal");
      display: flex;
      flex-direction: column;
    }
  }

  &-field {
    display: flex;
    width: map-get($pixcel, "310");
    flex-flow: wrap;

    .button {
      height: map-get($pixcel, "310");
      width: map-get($pixcel, "100%");

      button {
        height: map-get($pixcel, "100");
        width: map-get($pixcel, "100");
        cursor: pointer;
        border: 1px solid;
        font-size: map-get($pixcel, "100");
        border-color: black;
        background-color: #FFFFFF;
        box-shadow: 10px 10px 10px #888888;
        margin: 1px 1px;
        padding-bottom: map-get($pixcel, "5");

        &:hover {
          background-color: #999999;

          &:disabled {
            cursor: no-drop;
            border: 1px solid;
          }
        }

        &:disabled {
          background-color: #BBBBBB;
          cursor: unset;
        }
      }
    }

    &-control {
      margin-top: map-get($pixcel, "40");
      display: flex;
      justify-content: center;
      width: map-get($pixcel, "100%");

      button {
        width: map-get($pixcel, "100");
        height: map-get($pixcel, "40");

        &:hover {
          cursor: pointer;
        }
      }
    }
  }

  &-result {
    width: map-get($pixcel, "300");
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    color: white;

    .title {
      font-size: map-get($FontSize, "large");
      align-self: center;
    }

    .result-field {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      width: map-get($pixcel, "300");
      margin-top: 10px;

      .player {
        display: flex;
        flex-direction: column;
        font-size: map-get($FontSize, "normal");

        &-score {
          align-self: center;
          margin-top: map-get($pixcel, "5");
          font-size: map-get($FontSize, "normal");
        }
      }
    }
  }
}
